@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-fade-in: fade-in 0.2s ease-out forwards;
  --animate-nav-border-reveal: nav-border-reveal 0.2s ease-out;
  --animate-slide-from-right: slide-from-right 0.2s ease-out forwards;

  --breakpoint-xxs: 25rem;
  --breakpoint-xs: 32.5rem;
  --breakpoint-smb: 45rem;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes nav-border-reveal {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-slide-down: slide-down 250ms ease-in-out;
  --animate-slide-up: slide-up 250ms ease-in-out;

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --font-sans: var(--font-satoshi);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @variant xxs {
    max-width: none;
  }

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  * {
    border-color: var(--color-border);
    font-family: var(--font-sans);
    font-feature-settings: 'ss02';
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  label:has([required]) > span:first-child::after {
    color: var(--color-destructive);
    content: '*';
    margin-left: 0.25rem;
  }

  input[type='search' i]::-webkit-search-cancel-button {
    display: none;
  }
}

:root {
  --accent-foreground: oklch(0.2079 0.0399 265.73);
  --accent: oklch(0.9684 0.0068 247.9);
  --background: oklch(1 0 0);
  --border: oklch(0.929 0.0126 255.53);
  --card-foreground: oklch(0.1371 0.036 258.53);
  --card: oklch(1 0 0);
  --destructive-foreground: oklch(0.9838 0.0035 247.86);
  --destructive: oklch(0.6368 0.2078 25.33);
  --foreground: oklch(0.1371 0.036 258.53);
  --input: oklch(0.929 0.0126 255.53);
  --muted-foreground: oklch(0.5547 0.0407 257.44);
  --muted: oklch(0.9684 0.0068 247.9);
  --popover-foreground: oklch(0.1371 0.036 258.53);
  --popover: oklch(1 0 0);
  --primary-foreground: oklch(0.9838 0.0035 247.86);
  --primary: oklch(0.2079 0.0399 265.73);
  --ring: oklch(0.1371 0.036 258.53);
  --secondary-foreground: oklch(0.2079 0.0399 265.73);
  --secondary: oklch(0.9684 0.0068 247.9);

  --radius: 0.5rem;
}

.dark {
  --accent-foreground: oklch(0.9838 0.0035 247.86);
  --accent: oklch(0.28 0.0369 259.97);
  --background: oklch(0.1371 0.036 258.53);
  --border: oklch(0.28 0.0369 259.97);
  --card-foreground: oklch(0.9838 0.0035 247.86);
  --card: oklch(0.1371 0.036 258.53);
  --destructive-foreground: oklch(0.9838 0.0035 247.86);
  --destructive: oklch(0.3959 0.1331 25.72);
  --foreground: oklch(0.9838 0.0035 247.86);
  --input: oklch(0.28 0.0369 259.97);
  --muted-foreground: oklch(0.7107 0.0351 256.79);
  --muted: oklch(0.28 0.0369 259.97);
  --popover-foreground: oklch(0.9838 0.0035 247.86);
  --popover: oklch(0.1371 0.036 258.53);
  --primary-foreground: oklch(0.2079 0.0399 265.73);
  --primary: oklch(0.9838 0.0035 247.86);
  --ring: oklch(0.8688 0.0198 252.85);
  --secondary-foreground: oklch(0.9838 0.0035 247.86);
  --secondary: oklch(0.28 0.0369 259.97);
}
